{% extends 'MyAppAquitemBicoBundle::Candidates/candidateDashboard.html.twig' %}

{% block head %}
    {% block stylesheet %} 
        {{parent() }}
    {% endblock %}
{% endblock %}
{% block content %}
    {% block banner %}
        <div class="page_banner banner price-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner-heading">Avaliações recebidas</div>    
                    </div>  
                </div>
            </div>
        </div>
    {% endblock %}

    {%block maincontent %}
        <main id="maincontent">
            <div class="row"  style="padding: 0px;margin-top:-40px;">
                {% block menu %} 
                    {{parent() }}
                {% endblock %}
                {% block selectedcontent %}        
                    <div class="col-md-10" style="padding:0px;">
                       
                            <div class="row contenttop">
                                <div class="col-md-6">
                                    <div class="page-heading">
                                        <h2>O que as empresas pensam de você</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row contentmain">
                                <div class="col-md-12">
                                    <div class="panel-body" style="width: 98%">
                                        <div class="job_title"></div>
                                        <table class="table">
                                            <thead class="">
                                                <tr>
                                                    <th>Titulo do trabalho</th>
                                                    <th>Nome de empresa</th>
                                                    <th>Avaliação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><h1>Team of PHP MySQL Developers <p>Agricultural Sceences</p></h1></td>
                                                    <td>Walmart</td>
                                                    <td><span><i class="fa fa-star"></span><span><i></i><i class="fa fa-star-half-full"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Urgent Opening for PHP Developer <p>Agricultural Sceences</p></h1></td>
                                                    <td>Express Scripts Holding</td>
                                                    <td><span><i class="fa fa-star"></span><span><i></i><i class="fa fa-star-half-full"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Urgent Require- Web Developer <p>Agricultural Sceences</p></h1></td>
                                                    <td>Vodafone Group</td>
                                                    <td><span><i class="fa fa-star"></span><span><i></i><i class="fa fa-star-half-full"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Nodejs,Angularjs Developer <p>Agricultural Sceences</p></h1></td>
                                                    <td>Sinochem Group</td>
                                                    <td><span><i class="fa fa-star"></span><span><i></i><i class="fa fa-star-half-full"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Software Developer -IT Co <p>Agricultural Sceences</p></h1></td>
                                                    <td>Zurich Insurance Group</td>
                                                    <td><span><i class="fa fa-star"></span><span><i></i><i class="fa fa-star-half-full"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Website Developer and Head of Developers <p>Agricultural Sceences</p></h1></td>
                                                    <td>Nippon Life Insurance</td>
                                                    <td><span><i class="fa fa-star"></span><span><i></i><i class="fa fa-star-half-full"></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Software Developer-Winforms-wpf<p>Agricultural Sceences</p></h1></td>
                                                    <td>Hitachi</td>
                                                    <td><span><i class="fa fa-star"></span><span><i></i><i class="fa fa-star-half-full"></span></td>
                                                </tr>   
                                                <tr class="border-none">
                                                    <td><h1>Software Developer -Leading IT Company <p>Agricultural Sceences</p></h1></td>
                                                    <td>Rosneft Oil</td>
                                                    <td><span><i class="fa fa-star"></span><span><i></i><i class="fa fa-star-half-full"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>           
                     
                    </div>
                {%endblock %}
            </div>
        </main>
    {%endblock %}

{% endblock %}
