{% extends 'MyAppAquitemBicoBundle::Employers/employerDashboard.html.twig' %}

{% block head %}
    {% block stylesheet %} 
        {{parent() }}
    {% endblock %}
{% endblock %}
{% block content %}
    {% block banner %}
        <div id="mainbanner" class="page_banner banner post-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner-heading">Editar vaga "Agente de limpeza"</div>    
                    </div>  
                </div>
            </div>
        </div>
    {% endblock %}

    {%block maincontent %}
        <main id="maincontent">
            <div class="row">
                {% block menu %} 
                    {{parent() }}
                {% endblock %}
                {% block selectedcontent %}        
                    <div class="col-md-10" style="padding:0px;">
                        <div style="height: 100%;width: 100%;">
                            <div class="row contenttop">
                                <div class="col-md-12">
                                    <div class="page-heading">
                                        <p>test</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row contentmain">
                                edit vacancy goes here                               
                            </div>                   
                        </div>

                    </div>
                {%endblock %}
            </div>
        </main>
    {%endblock %}

{% endblock %}
