{% extends 'MyAppAquitemBicoBundle::Employers/employerDashboard.html.twig' %}

{% block head %}
    {% block stylesheet %} 
        {{parent() }}
    {% endblock %}
{% endblock %}
{% block content %}
    {% block banner %}
        <div id="vagasbanner" class="page_banner banner page_banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner-heading">Editar currículo / informações da conta</div>    
                    </div>  
                </div>
            </div>
        </div>
    {% endblock %}

    {%block maincontent %}
        <main id="maincontent">
            <div class="row">
                {% block menu %} 
                    {{parent() }}
                {% endblock %}
                {% block selectedcontent %}
                    <div class="col-md-10" style="padding:0px;">
                        <div class="row contenttop">
                            <div class="col-md-12">
                                <div class="page-heading">
                                    <h2>account settings test here</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row contentmain">
                            <div> login settings / deactivate account / phone-facebook settings ...</div>
                    </div>
                        </div>
                    </div>
                {%endblock %}
                </div>
            </main>
        {%endblock %}

    {% endblock %}