{% extends 'MyAppAquitemBicoBundle::Employers/employerDashboard.html.twig' %}

{% block head %}
    {% block stylesheet %} 
        {{parent() }}
    {% endblock %}
{% endblock %}
{% block content %}
    {% block banner %}
        <div id="mainbanner" class="page_banner banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner-heading">Nova vaga</div>    
                    </div>  
                </div>
            </div>
        </div>
    {% endblock %}

    {%block maincontent %}
        <main id="maincontent">
            <div class="row"  style="padding: 0px;margin-top:-40px">
                {% block menu %} 
                    {{parent() }}
                {% endblock %}
                {% block selectedcontent %}        
                    <div class="col-md-10" style="padding:0px;">
                        <div style="height: 100%;width: 100%;">
                            <div class="row contenttop">
                                <div class="col-md-12">
                                    <div class="page-heading">
                                        <h2>Crie sua vaga e comece a jornada</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row contentmain">
                                <div class="col-md-12">
                                    <div class="panel-body">
                                        <div class="panel-heading">Detalhes da vaga</div>
                                        <hr>
                                        <div class="form-group col-md-6 p-l">
                                            <label>Nome do evento</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 p-r">
                                            <label>Data</label>
                                            <input type="date" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6 p-l">
                                            <label>Horario</label>
                                            <input type="time" class="form-control" />
                                            <!--<select class="form-control">
                                                <option>--- Choose a Category ---</option>
                                                <option>IT</option>
                                                <option>IT</option>
                                                <option>IT</option>
                                            </select>-->
                                        </div>
                                        <div class="form-group col-md-6 p-r">
                                            <label>Local</label>
                                            <input type="text" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6 p-l">
                                            <label>Número de vagas</label>
                                            <input type="number" class="form-control"/>
                                        </div>
                                        <div class="form-group col-md-6 p-r">
                                            <label>Remuneração</label>
                                            <input type="number" placeholder="p.ex $R 500" class="form-control" />
                                        </div>
                                        <label>Áreas de interesse</label> 
                                        <div class="form-group col-md-12">                                                                                     
                                            <div class="col-md-4" >
                                                <div  style="max-height: 250px;overflow: auto;">
                                                    <ul id="check-list-box" class="list-group checked-list-box">
                                                        <li class="list-group-item" data-color="success">Atendente</li>
                                                        <li class="list-group-item" data-color="info">Auxiliar de serviços gerais</li>
                                                        <li class="list-group-item" data-color="warning">Carregador</li>
                                                        <li class="list-group-item" data-color="danger">Garçom</li>
                                                        <li class="list-group-item" data-color="danger">Bartender</li>
                                                        <li class="list-group-item" data-color="danger">Segurança</li>
                                                    </ul>
                                                    <br />
                                                    <!--<button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked Data</button>-->
                                                </div>
                                                <!--<pre id="display-json"></pre>-->
                                            </div>
                                            <div class="col-md-4" >
                                                <div style="max-height: 250px;overflow: auto;">
                                                    <ul id="check-list-box" class="list-group checked-list-box">
                                                        <li class="list-group-item">Motorista</li>
                                                        <li class="list-group-item" data-color="success">Pedreiro</li>
                                                        <li class="list-group-item" data-color="info">Venda</li>
                                                        <li class="list-group-item" data-color="warning">Auxiliar de cozinha</li>
                                                        <li class="list-group-item" data-color="danger">Babá</li>
                                                        <li class="list-group-item" data-color="danger">Cozinheiro</li>
                                                        <li class="list-group-item" data-color="danger">Panfletagem</li>
                                                    </ul>
                                                    <br />
                                                    <!--<button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked Data</button>-->
                                                </div>
                                                <!--<pre id="display-json"></pre>-->
                                            </div>
                                            <div class="col-md-4" >
                                                <div style="max-height: 250px;overflow: auto;">
                                                    <ul id="check-list-box" class="list-group checked-list-box">
                                                        <li class="list-group-item">Copa</li>
                                                        <li class="list-group-item" data-color="success">Garçonete</li>
                                                        <li class="list-group-item" data-color="info">Paisagismo</li>
                                                        <li class="list-group-item" data-color="warning">Recepção</li>
                                                        <li class="list-group-item" data-color="danger">Auxiliar de limpeza / Diarista</li>
                                                        <li class="list-group-item" data-color="danger">Jardineiro</li>
                                                    </ul>
                                                    <br />
                                                    <!--<button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked Data</button>-->
                                                </div>
                                                <!--<pre id="display-json"></pre>-->
                                            </div>
                                        </div>
                                        <div class=" form-group col-md-12">
                                            <button type="button" class="btn btn-click" data-toggle="collapse" data-target="#demo"><i class="fa fa-plus-circle"></i> <label>Adicionar mais especificações</label></button>
                                            <div id="demo" class="collapse">
                                                <div class="form-group col-md-6 p-l">
                                                    <label>Altura específica do candidato</label>
                                                    <input type="p.exp 1.7m" class="form-control" />
                                                </div>
                                                <div class="form-group col-md-6 p-l">
                                                    <label>Preferiu ser</label>
                                                    <select class="form-control">
                                                        <option>Feminino</option>
                                                        <option>Masculino</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6 p-l">
                                                    <label>Nível educacional do candidato</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group col-md-6 p-l">
                                                    <label>Candidato com experiência anterior</label>
                                                    <select class="form-control">
                                                        <option>Sim</option>
                                                        <option>Não</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6 p-l">
                                                    <label>Cidade</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group col-md-6 p-l">
                                                    <label>Candidato com veículo</label>
                                                    <select class="form-control">
                                                        <option>Sim</option>
                                                        <option>Não</option>
                                                    </select>
                                                </div>  
                                                <div class="form-group col-md-12">
                                                    <label>CNH</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="borderfull-width"></div>
                                        <div class="panel-heading">Descrição da vaga</div>
                                        <hr>
                                        <div class="form-group col-md-12 p-l p-r">
                                            <label>Escreva uma descrição da sua vaga para candidatos:</label>
                                            <div id="wysihtml5-editor-toolbar">
                                                <header>
                                                    <ul class="commands">
                                                        <li data-wysihtml5-command="bold" title="Make text bold (CTRL + B)" class="command"></li>
                                                        <li data-wysihtml5-command="italic" title="Make text italic (CTRL + I)" class="command"></li>
                                                        <li data-wysihtml5-command="insertUnorderedList" title="Insert an unordered list" class="command"></li>
                                                        <li data-wysihtml5-command="insertOrderedList" title="Insert an ordered list" class="command"></li>
                                                        <li data-wysihtml5-command="createLink" title="Insert a link" class="command"></li>
                                                        <li data-wysihtml5-command="insertImage" title="Insert an image" class="command"></li>
                                                        <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" title="Insert headline 1" class="command"></li>
                                                        <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" title="Insert headline 2" class="command"></li>
                                                        <li data-wysihtml5-command-group="foreColor" class="fore-color command" title="Color the selected text" >
                                                            <ul>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="silver"></li>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="gray"></li>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="maroon"></li>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red"></li>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="purple"></li>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green"></li>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="olive"></li>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="navy"></li>
                                                                <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue"></li>
                                                            </ul>
                                                        </li>
                                                        <li data-wysihtml5-command="insertSpeech" title="Insert speech" class="command"></li>
                                                        <li data-wysihtml5-action="change_view" title="Show HTML" class="action"></li>
                                                    </ul>
                                                </header>
                                                <div data-wysihtml5-dialog="createLink" style="display: none;">
                                                    <label>
                                                        Link:
                                                        <input data-wysihtml5-dialog-field="href" value="http://">
                                                    </label>
                                                    <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                                                </div>
                                                <div data-wysihtml5-dialog="insertImage" style="display: none;">
                                                    <label>
                                                        Image:
                                                        <input data-wysihtml5-dialog-field="src" value="http://">
                                                    </label>
                                                    <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                                                </div>
                                            </div>
                                            <textarea id="wysihtml5-editor" spellcheck="false" autofocus placeholder="Enter something ..." style="height: 50px;display: block;overflow: auto">
                                            <h1>A better approach to rich text editing</h1>
                                            <p>wysihtml5 is an <span class="wysiwyg-color-green"><a href="#">open source</a></span> rich text editor based on HTML5 technology and the progressive-enhancement approach.
                                            It uses a sophisticated security concept and aims to generate fully valid HTML5 markup by preventing unmaintainable tag soups and inline styles.</p>
                                            <h2>Features</h2>
                                            <ul>
                                                <li>It's fast and lightweight (smaller than TinyMCE, Aloha, ...)</li>
                                                <li>Auto-linking of urls as-you-type</li>
                                                <li>Generates valid and semantic HTML5 markup (even when the content is pasted from MS Word)</li>
                                                <li>Uses class names instead of inline styles</li>
                                                <li>Unifies line break handling across browsers</li>
                                                <li>Uses sandboxed iframes in order to prevent identity theft through XSS</li>
                                                <li>Speech-input for Chrome</li>
                                                <li>No jQuery required</li>
                                            </ul>
                                                <h2>Browser Support</h2>
                                            <ul>
  
                                            <li><strong>Graceful degradation:</strong> Unsupported browsers will get a <i>&amp;lt;textarea&amp;gt;</i></li>
                                            </ul>
                                            </textarea>
                                        </div>
                                         <div class="col-md-4 p-l">
                                            <a href="#" class="btn btn-default btn-block">Adicionar vaga</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endblock %}
            </div>
        </main>
    {%endblock %}

{% endblock %}
{% block js %} 
    {{parent() }}
    <script src="{{ asset('assets/js/interestareaslist.js') }}"></script>
{% endblock %}

