{% extends 'MyAppAquitemBicoBundle::Candidates/candidateDashboard.html.twig' %}

{% block head %}
    {% block stylesheet %} 
        {{parent() }}
    {% endblock %}
{% endblock %}
{% block content %}
    {% block banner %}
        <div id="vagasbanner" class="page_banner banner page_banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner-heading">Editar currículo / informações da conta</div>    
                    </div>  
                </div>
            </div>
        </div>
    {% endblock %}

    {%block maincontent %}
        <main id="maincontent">
            <div class="row"  style="padding: 0px;margin-top:-40px;">
                {% block menu %} 
                    {{parent() }}
                {% endblock %}
                {% block selectedcontent %}
                    <div class="col-md-10" style="padding:0px;">
                        <div class="row contenttop">
                            <div class="col-md-12">
                                <div class="page-heading">
                                    <h2>Não se esqueça de preencher os dados obrigatórios</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row contentmain">
                            <div class="col-md-12" style="width: 97%;">
                                <div class="panel-body">

                                    <!--- DADOS CADASTRAS --->
                                    <div class="panel-heading">Dados cadastrais</div>
                                    <hr>

                                    <div class="form-group col-md-6 p-l">
                                        <label>Razão Social</label><strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6 p-r">
                                        <label>Nome Fantasia<strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6 p-l">
                                        <label>CNPJ<strong style="color: red">*</strong></label>
                                        <input type="number" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6 p-r">
                                        <label>Inscrição Estadual</label><strong style="color: red">*</strong>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6 p-l">
                                        <label>Área de Atuação</label><strong style="color: red">*</strong>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6 p-r">
                                        <label>Responsável</label><strong style="color: red">*</strong>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6 p-l">
                                        <label>Porte da Empresa</label><strong style="color: red">*</strong>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6   p-r">
                                        <label>Site de empresa</label><strong style="color: red">*</strong>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Logo de empresa</label><strong style="color: red">*</strong>
                                        <input type="file" name="img[]" class="file form-control">
                                        <input type="text" class="form-control" />
                                        <span class="input-group-btn text-right">
                                            <button class="browse btn btn-default input-lg" type="button"> Post</button>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-12 p-l p-r">
                                        <label>Descrição da Empresa</label>
                                        <div id="wysihtml5-editor-toolbar">
                                            <header>
                                                <ul class="commands">
                                                    <li data-wysihtml5-command="bold" title="Make text bold (CTRL + B)" class="command"></li>
                                                    <li data-wysihtml5-command="italic" title="Make text italic (CTRL + I)" class="command"></li>
                                                    <li data-wysihtml5-command="insertUnorderedList" title="Insert an unordered list" class="command"></li>
                                                    <li data-wysihtml5-command="insertOrderedList" title="Insert an ordered list" class="command"></li>
                                                    <li data-wysihtml5-command="createLink" title="Insert a link" class="command"></li>
                                                    <li data-wysihtml5-command="insertImage" title="Insert an image" class="command"></li>
                                                    <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" title="Insert headline 1" class="command"></li>
                                                    <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" title="Insert headline 2" class="command"></li>
                                                    <li data-wysihtml5-command-group="foreColor" class="fore-color command" title="Color the selected text" >
                                                        <ul>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="silver"></li>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="gray"></li>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="maroon"></li>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red"></li>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="purple"></li>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green"></li>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="olive"></li>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="navy"></li>
                                                            <li data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue"></li>
                                                        </ul>
                                                    </li>
                                                    <li data-wysihtml5-command="insertSpeech" title="Insert speech" class="command"></li>
                                                    <li data-wysihtml5-action="change_view" title="Show HTML" class="action"></li>
                                                </ul>
                                            </header>
                                            <div data-wysihtml5-dialog="createLink" style="display: none;">
                                                <label>
                                                    Link:
                                                    <input data-wysihtml5-dialog-field="href" value="http://">
                                                </label>
                                                <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                                            </div>
                                            <div data-wysihtml5-dialog="insertImage" style="display: none;">
                                                <label>
                                                    Image:
                                                    <input data-wysihtml5-dialog-field="src" value="http://">
                                                </label>
                                                <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                                            </div>
                                        </div>
                                        <textarea id="wysihtml5-editor" spellcheck="false" autofocus placeholder="Enter something ..." style="height: 50px;display: block;overflow: auto">
                                            <h1>A better approach to rich text editing</h1>
                                            <p>wysihtml5 is an <span class="wysiwyg-color-green"><a href="#">open source</a></span> rich text editor based on HTML5 technology and the progressive-enhancement approach.
                                            It uses a sophisticated security concept and aims to generate fully valid HTML5 markup by preventing unmaintainable tag soups and inline styles.</p>
                                            <h2>Features</h2>
                                            <ul>
                                                <li>It's fast and lightweight (smaller than TinyMCE, Aloha, ...)</li>
                                                <li>Auto-linking of urls as-you-type</li>
                                                <li>Generates valid and semantic HTML5 markup (even when the content is pasted from MS Word)</li>
                                                <li>Uses class names instead of inline styles</li>
                                                <li>Unifies line break handling across browsers</li>
                                                <li>Uses sandboxed iframes in order to prevent identity theft through XSS</li>
                                                <li>Speech-input for Chrome</li>
                                                <li>No jQuery required</li>
                                            </ul>
                                                <h2>Browser Support</h2>
                                            <ul>
  
                                            <li><strong>Graceful degradation:</strong> Unsupported browsers will get a <i>&amp;lt;textarea&amp;gt;</i></li>
                                            </ul>
                                        </textarea>
                                    </div>    
                                    <div class="borderfull-width"></div>
                                    <!--- contact info --->
                                    <div class="panel-heading">Informações de contato</div>
                                    <hr>
                                    <div class="form-group col-md-4">
                                        <label>Responsável para Contato</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Telefone 1</label><strong style="color: red">*</strong>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Telefone 2</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Endereço</label><strong style="color: red">*</strong>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Bairro</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>CEP</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Complemento</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Estado</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Cidade</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Facebook</label>
                                        <input type="text" class="form-control" />
                                    </div>

                                    <div class="col-md-4 p-l">
                                        <a href="#" class="btn btn-default btn-block">Salvar alterações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endblock %}
            </div>
        </main>
    {%endblock %}

{% endblock %}