{% extends "MyAppAquitemBicoBundle::layout.html.twig" %}
{% block head %}
    <title> {% block title %} {{parent() }}{% endblock %} </title>
    {% block stylesheet %} 
        {{parent() }}
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="page_banner  about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="banner-heading">FAQs</div>    
                </div>  
            </div>
        </div>
    </div>
    <main id="maincontent">
        <section class="contact_us">
            <div class="container" > 
                <h1>faq here </h1>
            </div>
        </section>
    </main>
{% endblock %}