{% trans_default_domain 'FOSUserBundle' %}

 <div id="maincontent" >
        <!-- multistep form -->
        <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">DADOS CADASTRAIS</li>
                <li>REFERÊNCIA PROFISSIONAL</li>
                <li>ÁREAS DE INTERESSE</li>
            </ul>
            <!-- fieldsets -->
                <!-- registration infos -->
            <fieldset >
                <h2 class="fs-title">Quem é Você ?</h2>
                <h3 class="fs-subtitle">Precisamos saber mais sobre você</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="dateOfBirth" type="text" placeholder="Data de Nascimento" class="form-control input-md">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input  name="adress" type="text" placeholder="Endereço" class="form-control input-md">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                               <select  name="time" class="form-control">
                                <option value="-1" selected="selected">Sexo</option>
                                <option value="F">Feminino</option>
                                <option value="M">Masculino</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input  name="candidateHeight" type="text" placeholder="Altura" class="form-control input-md">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" >
                            <div  >
                                <input type="file"  name="img[]" class="file form-control">
                                <input type="text" placeholder="Nome da foto" class="form-control" />
                                <span class="input-group-btn text-right">
                                    <button class="browse btn btn-default input-lg" type="button"> Post</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" name="next" class="next action-button" value="Next" />                                  
            </fieldset>
                <!-- reference -->
            <fieldset>
                <h2 class="fs-title">Deixe-nos uma referência</h2>
                <h3 class="fs-subtitle">Podemos precisar disso</h3>
                <div class="row">
                    <!-- first reference -->
                    <div class="col-md-4">
                        <input name="firstRefName" type="text" placeholder="Nome da Empresa n°1" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <input name="firstRefPhone" type="text" placeholder="Telefone" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <input name="firstRefProx" type="text" placeholder="Cargo" class="form-control input-md">
                    </div>
                    <!-- second reference -->
                    <div class="col-md-4">
                        <input name="firstRefName" type="text" placeholder="Nome da Empresa n°2" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <input name="firstRefPhone" type="text" placeholder="Telefone" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <input name="firstRefProx" type="text" placeholder="Cargo" class="form-control input-md">
                    </div>
                    <!-- third reference -->
                    <div class="col-md-4">
                        <input name="firstRefName" type="text" placeholder="Nome da Empresa n°3" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <input name="firstRefPhone" type="text" placeholder="Telefone" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <input name="firstRefProx" type="text" placeholder="Cargo" class="form-control input-md">
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
                <!-- interest areas -->
            <fieldset>
                <h2 class="fs-title">faça o que você ama...</h2>
                <h3 class="fs-subtitle">e não precisará trabalhar</h3>
                <div class="col-md-4" >
                    <div class="well" style="max-height: 300px;overflow: auto;">
                        <ul id="check-list-box" class="list-group checked-list-box">
                            <li class="list-group-item" data-color="success">Atendente</li>
                            <li class="list-group-item" data-color="info">Auxiliar de serviços gerais</li>
                            <li class="list-group-item" data-color="warning">Carregador</li>
                            <li class="list-group-item" data-color="danger">Garçom</li>
                            <li class="list-group-item" data-color="danger">Bartender</li>
                            <li class="list-group-item" data-color="danger">Segurança</li>
                        </ul>
                        <br />
                        <!--<button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked Data</button>-->
                    </div>
                    <!--<pre id="display-json"></pre>-->
                </div>
                 <div class="col-md-4" >
                    <div class="well" style="max-height: 300px;overflow: auto;">
                        <ul id="check-list-box" class="list-group checked-list-box">
                            <li class="list-group-item">Motorista</li>
                            <li class="list-group-item" data-color="success">Pedreiro</li>
                            <li class="list-group-item" data-color="info">Venda</li>
                            <li class="list-group-item" data-color="warning">Auxiliar de cozinha</li>
                            <li class="list-group-item" data-color="danger">Babá</li>
                             <li class="list-group-item" data-color="danger">Cozinheiro</li>
                             <li class="list-group-item" data-color="danger">Panfletagem</li>
                        </ul>
                        <br />
                        <!--<button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked Data</button>-->
                    </div>
                    <!--<pre id="display-json"></pre>-->
                </div>
                 <div class="col-md-4" >
                    <div class="well" style="max-height: 300px;overflow: auto;">
                        <ul id="check-list-box" class="list-group checked-list-box">
                            <li class="list-group-item">Copa</li>
                            <li class="list-group-item" data-color="success">Garçonete</li>
                            <li class="list-group-item" data-color="info">Paisagismo</li>
                            <li class="list-group-item" data-color="warning">Recepção</li>
                            <li class="list-group-item" data-color="danger">Auxiliar de limpeza / Diarista</li>
                            <li class="list-group-item" data-color="danger">Jardineiro</li>
                        </ul>
                        <br />
                        <!--<button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked Data</button>-->
                    </div>
                    <!--<pre id="display-json"></pre>-->
                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>
        </form>
    </div>