{% extends "MyAppAquitemBicoBundle::layout.html.twig" %}
{% block head %}
    <title> {% block title %} {{parent() }}{% endblock %} </title>
    {% block stylesheet %} 
        {{parent() }}
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="page_banner  contactus_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="banner-heading">Entre em contato conosco</div>    
                </div>  
            </div>
        </div>
    </div>
    <main id="maincontent">
        <section class="contact_us">
            <div class="container" >
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel-body">
                            <div class="job_title"><a href="">Maringá - PR</a></div>
                            <p></p>
                            <div class="contact_details">
                                <span><i class="fa fa-map"></i>Av. Duque de Caxias - 614</span>
                                <p></p>
                                <span><i class="fa fa-phone"></i> (44) 9894-2933 | (44) 3030-3453</span>
                                <p></p>
                                <span><i class="    fa fa-envelope"></i><a href="#">contato@aquitembico.com.br</a></span>
                            </div>
                        </div>
                        <div class="panel-body" style="margin-top: 10px">
                            <div class="job_title"><a href="">SOMOS SOCIAIS !</a></div>
                            <p></p>
                            <ul class="follow" style="display: inline-block;">
                                <li><a href="https://www.facebook.com/aquitembico" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/aquitembico/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel-body">
                            <div class="page-heading"><h2>Alguma dúvida ?</h2></div>
                            <div class="form-group col-md-6 p-l">
                                <label>Nome</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6 p-r">
                                <label>E-mail</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 p-l p-r">
                                <label>Assunto</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 p-l p-r">
                                <label>Mensagem</label>
                                <textarea type="text" class="form-control"></textarea>
                            </div>
                            <div class="col-md-5 p-l">
                                <a href="#" class="btn btn-block btn-default">Enviar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock %}